In [1]:
print('Hello World')

Hello World

In [2]:
print("Je suis content d'avoir réussi à modifier mon notebook sur visual studio en faisant des commit, push")

Je suis content d'avoir réussi à modifier mon notebook sur visual studio en faisant des commit, push

In [4]:
pip install numpy

Collecting numpyNote: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'C:\Users\BIKEYE Marjolaine\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\BIKEYE Marjolaine\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

  Downloading numpy-1.21.3-cp310-cp310-win_amd64.whl (14.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.21.3

In [6]:
import numpy as np

In [10]:
np.linspace(2,20,10)

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18., 20.])

In [2]:
df= pd.read_csv("http://www.xavierdupre.fr/enseignement/complements/donnees_enquete_2003_television.txt",sep="\t")
df.head()

,POIDLOG,POIDSF,cLT1FREQ,cLT2FREQ,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,0.889422,4766.865201,2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.310209,12381.589746,30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.740070,14685.431344,6,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.775545,9516.049939,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.732512,3925.907588,3,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
cols_vides=[col for col in df.columns if df[col].isnull().all()]       #on supprime les colonnes vides 
df.drop (cols_vides,
        axis=1,
        inplace=True)

In [4]:
df

       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0     0.889422   4766.865201         2       1.0
1     2.310209  12381.589746        30       1.0
2     2.740070  14685.431344         6       2.0
3     1.775545   9516.049939         1       1.0
4     0.732512   3925.907588         3       1.0
...        ...           ...       ...       ...
8398  0.306852   1644.574141         6       1.0
8399  2.501181  13405.104689         6       1.0
8400  1.382758   7410.905653         1       1.0
8401  0.343340   1840.132652         3       1.0
8402  1.088486   5833.750895         0       NaN

[8403 rows x 4 columns]

In [5]:
df.head()     # afficher les 5 premières lignes

    POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0  0.889422   4766.865201         2       1.0
1  2.310209  12381.589746        30       1.0
2  2.740070  14685.431344         6       2.0
3  1.775545   9516.049939         1       1.0
4  0.732512   3925.907588         3       1.0

In [6]:
df.tail()  # afficher les 5 dernièeres lignes du df

       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
8398  0.306852   1644.574141         6       1.0
8399  2.501181  13405.104689         6       1.0
8400  1.382758   7410.905653         1       1.0
8401  0.343340   1840.132652         3       1.0
8402  1.088486   5833.750895         0       NaN

In [7]:
df.shape  # pour savoir directement le nombre de ligne et de colonnes

(8403, 4)

In [8]:
df['cLT1FREQ'].mean()   # calculer la moyenne de la colonne seconde, on aurait pu mettre la colonne seconde dans une variable et faire la moyenne sur cette variable

2.9302630013090565

In [9]:
df['cLT1FREQ'].describe()   #describe pour avoir toute les variables statistiques de cette colonne

count    8403.000000
mean        2.930263
std         2.958877
min         0.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        50.000000
Name: cLT1FREQ, dtype: float64

In [ ]:
df['ville'].value_counts() #pour les variables non numérique, afin d'avoir le nombre de fois qu'on a une telle ville

In [ ]:
df[['cLT1FREQ','POIDLOG']]  #avoir une matrice juste avec "cLT1FREQ et POIDSLOG". idem, on peut mettre ça dans une variable: x=df[['cLT1FREQ','POIDLOG']]

In [17]:
#  df.plot

In [ ]:
#  x=df.plot(kind = "bar", figsize=(14,6))

In [19]:
# x

In [11]:
df.iloc [4] #pour choisir la ligne 4, le i de iloc c'est pour index

POIDLOG        0.732512
POIDSF      3925.907588
cLT1FREQ       3.000000
cLT2FREQ       1.000000
Name: 4, dtype: float64

In [12]:
df.iloc[4:10]  #pour choisir un ensemble de lignes

    POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
4  0.732512  3925.907588         3       1.0
5  1.758334  9423.810705         3       1.0
6  1.640733  8793.525107         3       1.0
7  0.413979  2218.723996         0       NaN
8  1.379033  7390.941189         1       1.0
9  0.764835  4099.142423         1       1.0

In [14]:
df.iloc[4:10, [2]]  #pour choisir un ensemble de lignes et n'afficher que la colonne sélectionnée. Colonne 2= cLT1FREQ car on compte 0 1 2 3 4 .... et c'est la 3eme colonne

   cLT1FREQ
4         3
5         3
6         3
7         0
8         1
9         1

In [15]:
df.iloc[4:10, [0,2]] #on choisit 2 colonnes pour les index sélectionnés

    POIDLOG  cLT1FREQ
4  0.732512         3
5  1.758334         3
6  1.640733         3
7  0.413979         0
8  1.379033         1
9  0.764835         1

In [16]:
#utilisation du loc, pour choisir les colonnes, le loc fonctionne en mode label, on met le nom

df.loc[4:10,['POIDLOG','cLT1FREQ']] #même chose que la ligne du déssus, sauf qu'à la place des chiffres pour les colonnes on met le noms de celles-ci

     POIDLOG  cLT1FREQ
4   0.732512         3
5   1.758334         3
6   1.640733         3
7   0.413979         0
8   1.379033         1
9   0.764835         1
10  0.833731         0

In [19]:
#filtre 
cLT1FREQ_filtre=(df['cLT1FREQ']==3)   # n'afficher que les lignes avec cLT1FREQ=3

In [20]:
df[cLT1FREQ_filtre]

       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
4     0.732512  3925.907588         3       1.0
5     1.758334  9423.810705         3       1.0
6     1.640733  8793.525107         3       1.0
12    1.414299  7579.948801         3       1.0
15    0.931974  4994.923792         3       1.0
...        ...          ...       ...       ...
8392  1.088486  5833.750895         3       1.0
8394  1.115584  5978.981867         3       1.0
8395  0.340379  1824.264028         3       1.0
8397  0.502091  2690.961176         3       1.0
8401  0.343340  1840.132652         3       1.0

[1775 rows x 4 columns]

In [21]:
#si on veut juste les POIDLOG des cLT1FREQ=3
df.loc[cLT1FREQ_filtre,'POIDLOG']

4       0.732512
5       1.758334
6       1.640733
12      1.414299
15      0.931974
          ...
8392    1.088486
8394    1.115584
8395    0.340379
8397    0.502091
8401    0.343340
Name: POIDLOG, Length: 1775, dtype: float64

In [32]:
#afficher les POIDLOG des cLT1FREQ=3 qui ont un POIDSF<3925.907588
cLT1FREQ_filtre_bis=((df['cLT1FREQ']==3)& (df['POIDSF']<3925.907588))
df.loc[cLT1FREQ_filtre_bis,'POIDLOG']

40      0.697689
41      0.497466
83      0.613901
186     0.715873
192     0.497849
          ...
8374    0.515562
8379    0.397019
8395    0.340379
8397    0.502091
8401    0.343340
Name: POIDLOG, Length: 777, dtype: float64

In [36]:
cLT1FREQ_filtre_bis=((df['cLT1FREQ']==3)& (df['POIDSF']<3925.907588))
df.loc[cLT1FREQ_filtre_bis,['POIDLOG','cLT1FREQ']]  #si on veu afficher d'autres variables

       POIDLOG  cLT1FREQ
40    0.697689         3
41    0.497466         3
83    0.613901         3
186   0.715873         3
192   0.497849         3
...        ...       ...
8374  0.515562         3
8379  0.397019         3
8395  0.340379         3
8397  0.502091         3
8401  0.343340         3

[777 rows x 2 columns]

In [37]:
g= df.groupby('cLT1FREQ')

In [38]:
g

In [39]:
for cLT1FREQ, cLT1FREQ_df in g:
    print (cLT1FREQ)
    print(cLT1FREQ_df)

0
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
7     0.413979   2218.723996         0       NaN
10    0.833731   4468.391085         0       NaN
13    0.831108   4454.331802         0       NaN
24    0.460401   2467.522690         0       NaN
25    0.386721   2072.635959         0       NaN
...        ...           ...       ...       ...
8372  2.015588  10802.565294         0       NaN
8376  1.441587   7726.197586         0       NaN
8378  0.566105   3034.043534         0       NaN
8384  1.828638   9800.605535         0       NaN
8402  1.088486   5833.750895         0       NaN

[1017 rows x 4 columns]
1
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
3     1.775545  9516.049939         1       1.0
8     1.379033  7390.941189         1       1.0
9     0.764835  4099.142423         1       1.0
17    0.907880  4865.790932         1       1.0
19    1.164694  6242.188616         1       1.0
...        ...          ...       ...       ...
8363  0.561776  3010.845946         1       1.0
8369  0.426193  2284.185741         1       1.0
8373  0.531484  2848.496357         1       1.0
8381  1.063780  5701.339124         1       2.0
8400  1.382758  7410.905653         1       1.0

[1223 rows x 4 columns]
2
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
0     0.889422   4766.865201         2       1.0
11    2.398587  12855.250965         2       1.0
16    1.045483   5603.278302         2       1.0
20    2.488726  13338.349297         2       1.0
27    0.462377   2478.114285         2       1.0
...        ...           ...       ...       ...
8386  0.292002   1564.989817         2       1.0
8388  0.890198   4771.023871         2       1.0
8389  1.182313   6336.616101         2       1.0
8393  0.370671   1986.614092         2       1.0
8396  1.784444   9563.745926         2       1.0

[2156 rows x 4 columns]
3
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
4     0.732512  3925.907588         3       1.0
5     1.758334  9423.810705         3       1.0
6     1.640733  8793.525107         3       1.0
12    1.414299  7579.948801         3       1.0
15    0.931974  4994.923792         3       1.0
...        ...          ...       ...       ...
8392  1.088486  5833.750895         3       1.0
8394  1.115584  5978.981867         3       1.0
8395  0.340379  1824.264028         3       1.0
8397  0.502091  2690.961176         3       1.0
8401  0.343340  1840.132652         3       1.0

[1775 rows x 4 columns]
4
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
23    0.790653   4237.513969         4       2.0
30    1.280284   6861.692786         4       1.0
58    0.525153   2814.562276         4       2.0
73    2.923132  15666.555188         4       2.0
79    0.588469   3153.906453         4       1.0
...        ...           ...       ...       ...
8352  0.882816   4731.463794         4       1.0
8366  0.561066   3007.036783         4       1.0
8367  0.451935   2422.148189         4       1.0
8368  0.565940   3033.160150         4       1.0
8370  0.545909   2925.803486         4       1.0

[890 rows x 4 columns]
5
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
14    1.388564   7442.020059         5       1.0
42    1.836204   9841.154405         5       3.0
51    0.284318   1523.804299         5       1.0
59    0.790122   4234.666847         5       2.0
74    0.414522   2221.633322         5       1.0
...        ...           ...       ...       ...
8231  1.765064   9459.878057         5       1.0
8271  0.922134   4942.185436         5       1.0
8301  1.626791   8718.800438         5       1.0
8311  0.338384   1813.574398         5       2.0
8334  1.902842  10198.301624         5       2.0

[527 rows x 4 columns]
6
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
2     2.740070  14685.431344         6       2.0
47    0.640578   3433.184921         6       2.0
53    1.064764   5706.615302         6       2.0
92    1.546422   8288.063031         6       2.0
174   0.854430   4579.326004         6       2.0
...        ...           ...       ...       ...
8318  1.022107   5477.992726         6       1.0
8329  0.411460   2205.225385         6       1.0
8377  1.630285   8737.526140         6       1.0
8398  0.306852   1644.574141         6       1.0
8399  2.501181  13405.104689         6       1.0

[302 rows x 4 columns]
7
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
68    1.717976   9207.510948         7       2.0
181   0.667275   3576.267351         7       2.0
429   2.265802  12143.588551         7       2.0
552   1.761104   9438.653250         7       1.0
556   0.222488   1192.425540         7       1.0
...        ...           ...       ...       ...
8021  1.363652   7308.504302         7       2.0
8199  0.697455   3738.014422         7       2.0
8260  1.206971   6468.772087         7       1.0
8325  0.551034   2953.271854         7       1.0
8340  1.071821   5744.435133         7       1.0

[75 rows x 4 columns]
8
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
89    1.854547   9939.465608         8       2.0
232   0.164819    883.349414         8       2.0
274   3.397927  18211.223717         8       2.0
489   1.679125   8999.288480         8       2.0
502   2.740010  14685.110698         8       1.0
...        ...           ...       ...       ...
8191  0.109903    589.028147         8       1.0
8202  1.278691   6853.159841         8       1.0
8262  0.697994   3740.906551         8       1.0
8324  0.800298   4289.202472         8       1.0
8343  0.479069   2567.573282         8       2.0

[130 rows x 4 columns]
9
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
307   3.024140  16207.907918         9       2.0
863   0.409023   2192.165268         9       1.0
1703  1.888372  10120.746088         9       2.0
2645  1.085822   5819.475643         9       1.0
2713  0.904099   4845.525389         9       1.0
2888  1.722421   9231.332244         9       2.0
2946  0.398780   2137.265458         9       1.0
2971  1.459395   7821.643554         9       1.0
3314  0.914710   4902.398966         9       1.0
3778  1.896423  10163.895810         9       2.0
3982  0.676410   3625.224950         9       1.0
4141  2.411330  12923.545773         9       1.0
4296  1.967194  10543.197449         9       1.0
4690  3.551803  19035.921663         9       1.0
4964  0.587653   3149.533843         9       2.0
5055  0.423764   2271.167918         9       1.0
5692  0.332077   1779.767663         9       1.0
5771  1.793207   9610.710157         9       2.0
6997  1.506708   8075.216994         9       1.0
7227  0.445474   2387.521106         9       1.0
7359  0.159308    853.810853         9       1.0
7530  0.214927   1151.900947         9       1.0
7985  1.088486   5833.750895         9       2.0
8006  0.247262   1325.201692         9       1.0
10
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
31    0.559204   2997.059545        10       2.0
67    0.555581   2977.642489        10       2.0
153   0.924569   4955.238939        10       2.0
187   3.473636  18616.988558        10       2.0
327   0.805288   4315.950285        10       2.0
...        ...           ...       ...       ...
8053  0.417350   2236.792688        10       2.0
8063  0.265681   1423.920231        10       1.0
8073  1.598967   8569.680333        10       1.0
8099  0.407974   2186.540413        10       1.0
8243  0.351486   1883.795392        10       1.0

[141 rows x 4 columns]
11
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
1917  2.167607  11617.311575        11       1.0
2927  0.195428   1047.399946        11       1.0
3669  0.421294   2257.927938        11       1.0
3735  1.574863   8440.493036        11       1.0
4410  1.033284   5537.893404        11       2.0
6917  0.599093   3210.847528        11       1.0
7060  0.137046    734.499072        11       1.0
8146  1.237541   6632.611371        11       1.0
12
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
80    0.516338   2767.319701        12       1.0
149   0.485163   2600.238465        12       2.0
543   1.679125   8999.288480        12       2.0
747   1.510990   8098.164265        12       2.0
833   0.392387   2102.999703        12       1.0
911   1.402136   7514.764130        12       2.0
966   0.689272   3694.159714        12       2.0
1038  1.467328   7864.159627        12       2.0
1192  0.078750    422.058962        12       1.0
1295  1.071821   5744.435133        12       1.0
1308  0.917450   4917.080776        12       1.0
1334  0.043635    233.864870        12       2.0
1344  0.470118   2519.599617        12       2.0
1531  1.746046   9357.953562        12       2.0
1729  1.574735   8439.809767        12       2.0
1815  1.824350   9777.623404        12       1.0
2461  0.219485   1176.331888        12       2.0
2796  1.028813   5513.933431        12       1.0
3317  0.271390   1454.518179        12       1.0
3577  0.096097    515.030342        12       1.0
3588  0.168427    902.685846        12       1.0
3742  1.677216   8989.056637        12       2.0
3782  0.529324   2836.918822        12       3.0
3816  1.519702   8144.856783        12       2.0
3827  0.375590   2012.980772        12       2.0
4283  4.427779  23730.726420        12       2.0
4288  0.499852   2678.959545        12       2.0
4395  1.337761   7169.743013        12       2.0
5703  0.820359   4396.719738        12       1.0
6399  0.788920   4228.226636        12       2.0
6579  1.010153   5413.922556        12       2.0
6625  1.326958   7111.843263        12       1.0
7054  0.705653   3781.952116        12       2.0
8013  0.751592   4028.167273        12       2.0
8178  0.516655   2769.017923        12       1.0
8360  0.251136   1345.963626        12       1.0
13
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
535   2.004216  10741.614139        13       1.0
1981  1.579182   8463.639996        13       1.0
14
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
1559  0.402592  2157.695375        14       2.0
2921  1.048750  5620.783736        14       1.0
5061  0.126580   678.405983        14       1.0
6367  1.069136  5730.046206        14       2.0
6409  1.337679  7169.305714        14       2.0
7409  0.359458  1926.519961        14       2.0
15
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
223   0.985478   5281.678524        15       2.0
971   1.071866   5744.674814        15       2.0
1187  0.511716   2742.548829        15       2.0
1445  0.865777   4640.142644        15       2.0
1579  1.381213   7402.627212        15       2.0
1591  1.385240   7424.206490        15       2.0
1665  1.059135   5676.444115        15       3.0
2184  0.515467   2762.648772        15       2.0
2467  0.952379   5104.285339        15       2.0
2552  0.532150   2852.063613        15       1.0
2715  2.187694  11724.966702        15       2.0
2962  1.579760   8466.740737        15       2.0
3084  0.087430    468.581057        15       2.0
3216  0.918476   4922.583540        15       1.0
3587  0.415873   2228.877721        15       2.0
3789  1.127115   6040.782526        15       1.0
4287  1.733923   9292.976196        15       2.0
4468  1.363652   7308.504302        15       2.0
4477  0.861386   4616.604853        15       2.0
4487  1.028781   5513.762628        15       2.0
4832  1.455219   7799.262015        15       2.0
4893  0.838427   4493.559408        15       2.0
4956  1.465588   7854.832354        15       2.0
5378  0.647868   3472.253643        15       2.0
6140  0.965699   5175.676073        15       2.0
6369  0.402616   2157.824179        15       2.0
6370  0.380684   2040.280206        15       2.0
6396  0.931937   4994.723997        15       2.0
6397  1.058815   5674.731212        15       2.0
6662  1.461781   7834.431971        15       1.0
16
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
617   0.148643   796.655885        16       3.0
2679  0.178925   958.948529        16       1.0
2761  0.108907   583.688035        16       2.0
3260  0.848435  4547.198065        16       1.0
4419  1.844425  9885.212776        16       2.0
18
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
7982  0.255229  1367.904953        18       2.0
19
      POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
245  5.074314  27195.837824        19       2.0
20
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
509   2.010044  10772.849942        20       2.0
517   0.346080   1854.816667        20       2.0
914   1.357614   7276.144963        20       3.0
970   2.114911  11334.888967        20       2.0
1298  0.490163   2627.032933        20       2.0
1575  0.626466   3357.552571        20       3.0
2006  1.406069   7535.841177        20       2.0
2468  1.150442   6165.803486        20       2.0
2702  1.997449  10705.345299        20       2.0
3086  0.303074   1624.328334        20       2.0
3745  1.251385   6706.808476        20       3.0
3799  1.102486   5908.785216        20       2.0
4400  0.379179   2032.215246        20       2.0
4472  0.903929   4844.616374        20       2.0
5018  0.092096    493.587747        20       3.0
5028  1.398116   7493.216467        20       2.0
5251  0.158629    850.174775        20       1.0
6395  1.559743   8359.459827        20       2.0
6398  0.810651   4344.694682        20       2.0
6467  1.885142  10103.439984        20       2.0
6564  1.520795   8150.716738        20       2.0
7113  0.345345   1850.878691        20       2.0
7241  1.107354   5934.872446        20       3.0
7463  0.702492   3765.011656        20       2.0
21
      POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
6368  1.54224  8265.650140        21       2.0
6373  0.84111  4507.939741        21       2.0
24
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
1408  1.453370  7789.350631        24       2.0
2757  0.412753  2212.154609        24       2.0
3433  0.818584  4387.211431        24       1.0
25
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
512   0.956103  5124.240983        25       2.0
1105  0.690282  3699.572768        25       2.0
2549  1.799388  9643.835992        25       2.0
4401  0.164244   880.268461        25       2.0
4417  1.423890  7631.354839        25       2.0
5490  0.533909  2861.489771        25       2.0
26
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
2010  0.214993  1152.256044        26       2.0
6538  0.173061   927.522378        26       2.0
28
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
2763  0.058521   313.643419        28       2.0
2945  0.863141  4626.011717        28       2.0
6267  1.381353  7403.372950        28       3.0
6366  1.050990  5632.792170        28       2.0
30
       POIDLOG        POIDSF  cLT1FREQ  cLT2FREQ
1     2.310209  12381.589746        30       1.0
1544  3.330094  17847.671576        30       2.0
4518  1.180796   6328.488950        30       1.0
6068  0.636951   3413.747066        30       2.0
6393  1.302006   6978.113090        30       2.0
32
      POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
2460   0.3827  2051.084244        32       2.0
35
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
1584  1.006085  5392.121970        35       2.0
6374  1.514979  8119.547236        35       2.0
36
      POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
247  1.452569  7785.060455        36       2.0
40
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
1582  0.115545   619.266985        40       2.0
2752  1.170452  6273.046992        40       2.0
42
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
2753  0.366637  1964.997252        42       2.0
50
       POIDLOG       POIDSF  cLT1FREQ  cLT2FREQ
1570  0.641796  3439.709866        50       2.0